* {
  margin: 0;
  padding: 0;
}

header {
  background-color: aquamarine;
  font-size: 20px;
  /* overflow: auto; */
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

.content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

nav {
  align-self: flex-end;
}

.menu {
  display: flex;
  width: 320px;
  justify-content: space-between;
}

li {
  list-style: none;
  text-align: center;
  float: right;
  justify-content: space-between;
}

li:hover {
  color: #000;
  background-color: #fff;
}

li:nth-child(3) {
  padding-right: 0;
}

.movie-content {
  width: 70%;
}

.discription {
  text-align: left;
}

.prologue {
  width: 300px;
  padding-bottom: 40px;
  padding-right: 40px;
  line-height: 1.6;
}

.voice {
  text-align: left;
  padding-top: 40px;
  padding-right: 40px;
  line-height: 1.6;
}

main {
  width: 80%;
  margin: 0 auto;
  background-color: antiquewhite;
}

.side {
  width: 30%;
  padding-top: 16px;
  break-inside: avoid;
  position: relative;
  left: 60px;
}

.side-content {
  margin: 2em 0;
  border: solid 1px #000;
  background-color: aquamarine;
  display: flex;
  position: relative;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

p {
  text-align: left;
  color: #000;
}

.poster {
  object-fit: contain;
  padding: 20px;
}

.content,.ken {
  display: flex;
  justify-content: space-between;
}

h2.maincast {
  text-align: center;
}

.itoh {
  margin: 0 auto;
}

.castimg {
  display: inline-block;
  width: 40%;
  height: 40%;
}

.robotmedia {
  margin-left: auto;
}

.robotmedia>img {
  width: 100%;
}

footer {
  text-align: center;
  background-color: aquamarine;
  color: white;
}

small {
  color: #000;
}

.senden {
  text-align: center;
  padding-bottom: 8px;
} 