* {
  margin: 0;
  padding: 0;
}

header {
  background-color: aquamarine;
  font-size: 20px;
  overflow: auto;
}

main {
  width: 80%;
  margin: 0 auto;
}

li {
  width: 120px;
  list-style: none;
  text-align: center;
  float: right;
}

li:hover {
  color: #000;
  background-color: #fff;
}

.side {
  width: 400px;
  margin: 0 auto;
  padding-top: 4px;
  break-inside: avoid;
}

.side-content {
  margin: 1em 0;
  border: solid 1px #000;
  background-color: aquamarine;
  width: 400px;
  display: flex;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: left;
}

h3 {
  text-align: center
}


p {
  text-align: left;
  color: #000;
}

.voice {
  text-align: left;
}

.prologue {
  position: relative;
  width: 300px;
  display: block;
}

.poster {
  width: 100%;
  height: 100%;
}

main,.ken {
  column-count: 2;
}

main {
  background-color: antiquewhite;
}

h2.maincast {
  text-align: center;
}

.itoh {
  height: 500px;
  width: 300px;
  margin: 0 auto;
}

.float {
  display: inline-block;
}

.floatclear {
  text-align: center;
  display: flex;
}

.robotmedia {
  width: 400px;
  margin: 0 auto;
}

.robotmedia>img {
  width: 100%;
}

footer {
  text-align: right;
  background-color: aquamarine;
  color: white;
}

small {
  color: #000;
}